* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  background-color: #222;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-api {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #333;
  color: #bac964;
  width: 30%;
  border-radius: 6px;
}

.property-name {
  font-size: 23px;
}

h1 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

button {
  padding: 10px;
  background-color: #bac964;
  border-color: #bac964;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

img {
  width: 30%;
}

.border {
  border:solid rgba(255, 255, 255, 0.123) 1px;
}